// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Gupter|Courgette|Roboto:400,500,700&display=swap');
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


@import 'partials/core/container.sass';
@import 'partials/home/index.sass';
@import 'partials/home/userhome.sass';
@import 'partials/home/menu.sass';
@import 'partials/home/freshMenu.sass';
@import 'partials/forms/register.sass';
@import 'partials/forms/createAd.sass';
@import 'partials/forms/editProfile.sass';
@import 'partials/ad/index.sass';
@import 'partials/user/profile.sass';
@import 'partials/user/favorites.sass';
@import 'partials/user/sessions.sass';
@import 'partials/search/tutors.sass';
@import 'partials/core/components.sass';
@import 'partials/search/ads.sass';
@import 'partials/chat/messages.sass';
@import 'partials/pages/payments.sass';
@import 'partials/pages/contact.sass';
@import 'partials/pages/home.sass';
@import 'partials/pages/files.sass';


*{

    font-family: 'Courgette', serif;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}

footer{
    background: $blue;
    color: #fff;
    padding: 15px 10px;
    text-align: center;
    
}
footer .links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
footer .links a{
    color: #ffff;
}

body{
    background: #fff;
}

.verified{
    font-size: 15px;
    width: 25px;
    height: 25px;
    background: #59a935;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 28px;
    color: #fff;
}