.messagesPage
    margin-top: $nav-height
    background: #fbfbfb
    // padding: 50px 0


@media screen and ( max-width: 768px )

@media screen and ( min-width: 769px )
    .messagesPage
        padding: 50px 0