.search-page, .myads-page
    margin-top: $nav-height
    padding: 30px 0
    min-height: 100vh
    .ttl
        text-align: center
        font-weight: bold
        font-size: 28px
        color: $green
        span
            color: $blue
    .ad-results
        padding: 20px 0
        display: flex
        flex-direction: column
        margin: 0 -15px


        .ad-result
            margin-bottom: 10px
            .loader
                background: rgba(0,0, 0, 0.4)
                position: absolute
                top: 0
                bottom: 0
                left: 0
                z-index: 3
                right: 0
                color: #ffffff
                display: flex
                justify-content: center
                align-items: center
            .ad
                border: 1px solid #e4f3e499
                background: #ffffff
                color: #000000
                padding: 0 10px
                margin-bottom: 15px
                line-height: 25px
                border-radius: 3px
                .title
                    padding: 10px
                    font-size: 20px
                    font-weight: bold
                    margin-bottom: 10px
                    text-align: center

                .student
                    display: flex
                    width: 100%
                    .avatar
                        width: 50px
                        height: 50px
                        border-radius: 50%
                        overflow: hidden
                        img
                            max-width: 100%
                            max-height: 100%
                    .data
                        align-items: center
                        padding: 0 0 0 10px
                        display: flex
                        flex-grow: 1
                        a
                            color: #000000
                            text-decoration: none
                        .info
                            flex-grow: 1
                            .name
                                font-size: 18px
                            .location
                                font-size: 13px
                        .contactbtn
                            display: flex
                            justify-content: center
                            align-items: center
                            .btn-t
                                font-size: 20px
                                background: none
                                display: flex
                                align-items: center
                                justify-content: center
                                padding: 5px 10px
                                border: none
                .meta
                    display: flex
                    width: 100%
                    background: #e4f3e4
                    border-radius: 20px
                    padding: 3px 10px
                    margin: 8px 0 4px
                    color: #000
                    font-size: 14px
                    .subject
                        margin-right: 20px
                .ad-info


